<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>SaatgutOnline</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>

  <servlet>
    <servlet-name>Konfiguration</servlet-name>
    <servlet-class>servlets.KonfigurationServlet</servlet-class>
    <init-param>
    	<param-name>dbHost</param-name>
    	<param-value>localhost</param-value>
    </init-param>
    <init-param>
    	<param-name>dbPort</param-name>
    	<param-value>3306</param-value>
    </init-param>
    <init-param>
    	<param-name>datenbank</param-name>
    	<param-value>saatgutonline</param-value>
    </init-param>
    <init-param>
    	<param-name>dbBenutzer</param-name>
    	<param-value>root</param-value>
    </init-param>
    <init-param>
    	<param-name>dbPasswort</param-name>
    	<param-value>root</param-value>
    </init-param>
    <init-param>
    	<param-name>BenutzernameRegel</param-name>
    	<param-value>>^[a-z0-9_-]{3,15}$</param-value>
    </init-param>
    <init-param>
    	<param-name>PasswortRegel</param-name>
    	<param-value>>^[a-z0-9_-]{3,15}$</param-value>
    </init-param>
    
    <load-on-startup>0</load-on-startup>
  </servlet> 
  
<absolute-ordering>
     <name>SessionFilter</name>
     <name>SprachversionFilter</name>
     <name>AnmeldungFilter</name>
</absolute-ordering>
  
</web-app>