/* CSS Document */
html {
	height: 100%;
}

body {
	margin-left: auto;
	margin-right: auto;
	width: 970px;
	background-color: White;
}

table {
	vertical-align: top;
	border-collapse: separate;
    border-spacing: 0px;
    border-padding: 0px;
    border: none;
}


a:link { text-decoration:none; font-weight:bold; color:#BEBEBE; }
a:visited { text-decoration:none; font-weight:bold; color:#BEBEBE; }
a:hover { text-decoration:none; font-weight:bold; color:#BEBEBE; }
a:active { text-decoration:none; font-weight:bold; color:#BEBEBE; }
a:focus { text-decoration:none; font-weight:bold; color:#BEBEBE; }

.fussbereich a:link { text-decoration:none; font-weight:bold; color:#000000; }
.fussbereich a:visited { text-decoration:none; font-weight:bold; color:#000000; }
.fussbereich a:hover { text-decoration:none; font-weight:bold; color:#000000; }
.fussbereich a:active { text-decoration:none; font-weight:bold; color:#000000; }
.fussbereich a:focus { text-decoration:none; font-weight:bold; color:#000000; }

.produktliste a:link { text-decoration:none; font-weight:bold; color:#E3E3E3; }
.produktliste a:visited { text-decoration:none; font-weight:bold; color:#000000; }
.produktliste a:hover { text-decoration:none; font-weight:bold; color:#000000; }
.produktliste a:active { text-decoration:none; font-weight:bold; color:#000000; }
.produktliste a:focus { text-decoration:none; font-weight:bold; color:#000000; }

.kopfbereich {
  	font-family: Verdana, Arial;
  	font-size:11px;
	color: #000000;
	width: 100%;
	height:100px;
	background: GREY;
}

.navigation {
  	font-family: Verdana, Arial;
  	font-size:11px;
  	color: #000000;
  	width: 200px;
	height:100px;
	vertical-align: top;
	background: GREY;
}

.navigation_aktuell a:link { text-decoration:none; font-weight:bold; color:WHITE; }
.navigation_aktuell a:visited { text-decoration:none; font-weight:bold; color:WHITE; }
.navigation_aktuell a:hover { text-decoration:none; font-weight:bold; color:WHITE; }
.navigation_aktuell a:active { text-decoration:none; font-weight:bold; color:WHITE; }
.navigation_aktuell a:focus { text-decoration:none; font-weight:bold; color:WHITE; }

.inhalt {
	font-family: Verdana, Arial;
  	font-size:11px;
  	color: #000000;
  	width: 770px;
	height:500px;
  	vertical-align: top;
	background: WHITE;
	padding: 10px 0px 10px 10px;
}

.fussbereich {
  	font-family: Verdana, Arial;
  	font-size:11px;
	color: #000000;
	width: 100%;
	height:30px;
	background: GREY;
	text-align: center;
}

.produktinfo {
	font-family: Verdana, Arial;
  	font-size:11px;
  	color: #000000;
  	width: 100%;
	height:500px;
  	vertical-align: top;
  	text-align: justify;
	background: WHITE;
	/*border-collapse: separate;*/
    border-spacing: 0px;
    border-padding: 0px;
	border: 0px solid #000000;
}

.produktinfo td {
	vertical-align: top;
	height:12px;
	border: px solid #000000;
}

table.produktliste {
  	color: #000000;
  	width: 100%;
	height:100%;
  	vertical-align: top;
	background: WHITE;
    border-spacing: 0px;
    border-padding: 0px;
	border: 0px solid #000000;
}

.produktliste td.preis {
	width: 100%;
	font-family: Verdana, Arial;
  	font-size:12px;
  	font-weight:bold;
  	text-align: right;
}

.produktliste td.bild {
	width: 110px;
}

.produktliste td.titel {
	font-family: Verdana, Arial;
	font-size:12px;
  	font-weight:bold;
  	text-align: left;
  	vertical-align: top;
	width: 100%;
}

.produktliste td.bestellnummer {
	font-family: Verdana, Arial;
	font-size:10px;
  	font-weight:normal;
  	text-align: left;
  	vertical-align: top;
	width: 100%;
}

.produktliste td.beschreibung {
	font-size:10px;
  	font-weight:normal;
  	text-align: justify;
  	vertical-align: top;
	width: 100%;
}


