/* CSS Document */
html {
	height: 100%;

}

body {
margin-left: auto;
margin-right: auto;
width: 970px;
text-align: left;
border: 0px;
padding: 0;
text-align: center;
background-color: Yellow;
}

a:link { text-decoration:none; font-weight:bold; color:#BEBEBE; }
a:visited { text-decoration:none; font-weight:bold; color:#BEBEBE; }
a:hover { text-decoration:none; font-weight:bold; color:#BEBEBE; }
a:active { text-decoration:none; font-weight:bold; color:#BEBEBE; }
a:focus { text-decoration:none; font-weight:bold; color:#BEBEBE; }

.content a:link { text-decoration:none; font-weight:bold; color:#000000; }
.content a:visited { text-decoration:none; font-weight:bold; color:#000000; }
.content a:hover { text-decoration:none; font-weight:bold; color:#000000; }
.content a:active { text-decoration:none; font-weight:bold; color:#000000; }
.content a:focus { text-decoration:none; font-weight:bold; color:#000000; }

.kopfbereich {
  font-family: Verdana, Arial;
  font-weight: bold;
  font-size:12px;
	color: #BEBEBE;
	width: 100%;
	height:100px;
	background: #273037;
}

#footer {
	font-family: Verdana, Arial;
  	font-weight: bold;
  	font-size:10px;
	position: absolute;
	bottom: 0;
	left:0;
	width: 100%;
	background: #333;
	height:20px;
	padding: 3px 0;
	text-align: center;
	color: #fff;
}

.navigation {
  font-family: Kartika;
  font-weight:bold;
	text-align:center;
	margin-top: 85px;
	margin-left: 0px;
	height: 15px;
	background: #697891;
	padding: 5px 5px 25px 5px;
}

.produktinfo {
  font-family: Verdana, Arial;
	font-size: 14px;
	width: 100%;
	background: #FFFFFF;
}

#produktinfo {
	font-family: Verdana, Arial;
}

.pflichtfeld {
	background-color: yellow;
}

select {
	width: 100%;
	border:none 0; 
}