/* CSS Document */
html {
	height: 100%;
}

body {
	margin-left: auto;
	margin-right: auto;
	width: 970px;
	background-color: White;
}

table {
	vertical-align: top;
	border-collapse: separate;
    border-spacing: 0px;
    border-padding: 0px;
    border: none;
}


a:link { text-decoration:none; font-weight:bold; color:#BEBEBE; }
a:visited { text-decoration:none; font-weight:bold; color:#BEBEBE; }
a:hover { text-decoration:none; font-weight:bold; color:#BEBEBE; }
a:active { text-decoration:none; font-weight:bold; color:#BEBEBE; }
a:focus { text-decoration:none; font-weight:bold; color:#BEBEBE; }


.fussbereich a:link { text-decoration:none; font-weight:bold; color:#000000; }
.fussbereich a:visited { text-decoration:none; font-weight:bold; color:#000000; }
.fussbereich a:hover { text-decoration:none; font-weight:bold; color:#000000; }
.fussbereich a:active { text-decoration:none; font-weight:bold; color:#000000; }
.fussbereich a:focus { text-decoration:none; font-weight:bold; color:#000000; }



.kopfbereich {
  	font-family: Verdana, Arial;
  	font-size:11px;
	color: #000000;
	width: 100%;
	height:100px;
	background: GREY;
}

.navigation {
  	font-family: Verdana, Arial;
  	font-size:11px;
  	color: #000000;
  	width: 200px;
	height:100px;
	vertical-align: top;
	background: GREY;
}

.navigation_aktuell a:link { text-decoration:none; font-weight:bold; color:WHITE; }
.navigation_aktuell a:visited { text-decoration:none; font-weight:bold; color:WHITE; }
.navigation_aktuell a:hover { text-decoration:none; font-weight:bold; color:WHITE; }
.navigation_aktuell a:active { text-decoration:none; font-weight:bold; color:WHITE; }
.navigation_aktuell a:focus { text-decoration:none; font-weight:bold; color:WHITE; }

.inhalt {
	font-family: Verdana, Arial;
  	font-size:11px;
  	color: #000000;
  	width: 770px;
	height:500px;
  	vertical-align: top;
	background: WHITE;
	padding: 10px 0px 10px 10px;
}

.fussbereich {
  	font-family: Verdana, Arial;
  	font-size:11px;
	color: #000000;
	width: 100%;
	height:30px;
	background: GREY;
	text-align: center;
}

.produktinfo td {
	vertical-align: top;

}

table.produktliste a:link {color: green; background: white; text-decoration:none;}
table.produktliste a:visited {color: green; background: white; text-decoration: none;}
table.produktliste a:hover {color: green; background: white; text-decoration:none;}
table.produktliste a:active {color: green; background: white; text-decoration: none;}
table.produktliste a:focus {color: green; background: white; text-decoration:none;}

table.produktliste {
	font-family: Verdana, Arial, Helvetica, sans-serif;
  	color: #000000;
  	width: 100%;
	height:100%;
  	vertical-align: top;
	background: WHITE;
    border-spacing: 0px;
    border-padding: 0px;
	border: 0px solid #000000;
}

.produktliste td.kategoriename {
vertical-align: baseline;
  	font-size: 16px;
  	font-weight: bold;
  	color: green;
  	text-align: left;
  	height: 25px;
}

.produktliste td.sortierung {
vertical-align: baseline;
  	font-size: 10px;
  	font-weight: normal;
  	color: black;
  	text-align: right;
  	height: 25px;
}

.produktliste td.preis {
	width: 100%;
	
  	font-size:13px;
  	font-weight:bold;
  	color: green;
  	text-align: right;
  	height: 35%;
}

.produktliste td.listenprodukt {
	vertical-align: top;
}



.produktliste td.preisverordnung {

	font-size: 9px;
  	font-weight: normal;
  	text-align: right;
  	
	width: 35%;
}

.produktliste td.bild {
	width: 110px;
}

.produktliste td.titel {

	
	font-size: 13px;
  	font-weight: bold;
  	text-align: left;
  	color: green;

	width: 65%;
}

.produktliste td.bestellnummer {
	font-size:10px;
  	font-weight:normal;
  	text-align: left;

	width: 65%;
}

.produktliste td.beschreibung {
	font-size:11px;
  	font-weight:normal;
  	text-align: justify;
	width: 100%;
}

table.produktinfo a:link {color: green; background: white; text-decoration:none;}
table.produktinfo a:visited {color: green; background: white; text-decoration: none;}
table.produktinfo a:hover {color: green; background: white; text-decoration:none;}
table.produktinfo a:active {color: green; background: white; text-decoration: none;}
table.produktinfo a:focus {color: green; background: white; text-decoration:none;}

table.produktinfo {
	font-family: Verdana, Arial, Helvetica, sans-serif;
  	color: #000000;
  	width: 100%;
	height:100%;
  	vertical-align: top;
	background: WHITE;
    border-spacing: 0px;
    border-padding: 0px;
	border: 0px solid #000000;
}

.produktinfo td.kategoriename {
vertical-align: baseline;
  	font-size: 13px;
  	font-weight: bold;
  	color: green;
  	text-align: left;
  	height: 25px;
}

.produktinfo td.sortierung {
vertical-align: baseline;
  	font-size: 10px;
  	font-weight: normal;
  	color: black;
  	text-align: right;
  	height: 25px;
}

.produktinfo td.preis {
	width: 100%;
  	font-size:18px;
  	font-weight:bold;
  	color: green;
  	text-align: right;
  	height: 35%;
}

.produktinfo td.mittlerespalte {
	width: 60%;
	vertical-align: top;
}
.produktinfo td.rechtespalte {
	width: 40%;
	vertical-align: top;
	  	height: 35%;
}

.produktinfo td.preisverordnung {

	font-size: 9px;
  	font-weight: normal;
  	text-align: right;
	vertical-align: top;
}

.produktinfo td.warenkorb {

	font-size: 9px;
  	font-weight: normal;
  	text-align: right;
	vertical-align: top;
}

.produktinfo td.bild {
	width: 100px;
}

.produktinfo td.titel {

	
	font-size: 13px;
  	font-weight: bold;
  	text-align: left;
  	color: green;

	width: 65%;
}

.produktinfo td.bestellnummer {
	font-size:10px;
  	font-weight:normal;
  	text-align: left;

	width: 65%;
}

.produktinfo td.beschreibung {
	font-size:11px;
  	font-weight:normal;
  	text-align: justify;

	width: 100%;
}

.produktmerkmale {
	width: 100%;
  	font-size:18px;
  	font-weight:bold;
  	color: green;
  	text-align: right;
	vertical-align: top;
}

.produktmerkmale td.name {
	font-size:11px;
  	font-weight: bold;
  	text-align: left;

	width: 50%;
}

.produktmerkmale td.wert {
	font-size:11px;
  	font-weight:normal;
  	text-align: left;
	width: 50%;
}

.festeSelectBoxBreite {
	width: 150px;
}
